ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 10px;
}
.pageactive {
  background-color: aqua;
}
body {
  text-align: center;
}
td,
th {
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 40rem;
}
tbody tr:nth-child(odd) {
  background: rgb(234, 229, 229);
}
caption {
  font-size: 0.8rem;
}
.a1 {
  color: white;
  background-color: #199319;
  padding: 10px 15px;
  text-decoration: none;
}
.a2 {
  text-decoration: none;
}
.div1 {
  justify-content: end;
  display: flex;
  width: 96.7%;
}
.input {
  padding: 10px 15px;
}
.div2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.div2 a {
  display: grid;
  place-content: center;
  margin: 5px;
  padding: 10px;
  height: 10px;
  aspect-ratio: 1/1;
}

.search {
  text-align: left;
  margin: 10px 0px;
}
.search input {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}
