<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/add.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Company Name</th>
          <th>Age</th>
          <th>Image</th>
          <th>Start Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="data"></tbody>
    </table>
  </body>
  <script>
    let response;
    $(document).ready(function () {
      $("#myTable").DataTable({
        lengthMenu: [
          [
            5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
            90, 95, 100,
          ],
          [
            5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
            90, 95, 100,
          ],
        ],
        language: {
          info: "Display _PAGE_ to _END_ of _TOTAL_ entries",
        },
        columnDefs: [
          {
            targets: [6],
            orderable: false,
          },
        ],
        paging: true,
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        ajax: {
          url: "/get-data",
          type: "get",
          // success: function (data) {
          //   console.log(data);
          // },
        },
        columns: [
          { data: "first_name" },
          { data: "position" },
          { data: "company_name" },
          { data: "age" },
          { data: "image" },
          { data: "start_date" },
          { data: "action" },
        ],
      });
    });
    function view(deleteid) {
      const x = confirm("Are you sure you want to delete?");
      if (x) {
        jQuery.ajax({
          url: "/delete",
          type: "delete",
          data: { id: deleteid },
          // success: function (data) {
          //   console.log(data);
          // },
        });
        window.location.reload();
      }
    }
    function update(updateId) {
      jQuery.ajax({
        url: "/update",
        type: "get",
        data: { id: updateId },
        success: function (data) {},
      });
    }
  </script>
</html>
